body {
  background-color: #84888a;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
}

h1{
  padding: 7% 15%;
  padding-bottom: 0px;
  padding-top: 40px;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.container{
  padding: 7% 15%;
  padding-top: 50px;
  padding-left: 350px;
  text-align: center;
  line-height: 5rem;   
}

#inputGroup-sizing-sm{
  padding: 7% 15%;
  text-align: center;
  margin-right: 200px;
}

.btn{
  margin-left: 150px;
}
